#### JOIN

In [0]:
USE movie_silver;

In [0]:
DESC movies;

In [0]:
CREATE OR REPLACE TEMP VIEW v_movies_2011
AS
SELECT movie_id, title, budget, revenue, year_release_date, release_date
FROM movies
WHERE year_release_date = 2011;

In [0]:
SELECT * FROM v_movies_2011;

In [0]:
CREATE OR REPLACE TEMP VIEW v_productions_countries
AS
SELECT * FROM productions_countries;

In [0]:
SELECT * FROM v_productions_countries;

In [0]:
CREATE OR REPLACE TEMP VIEW v_countries 
AS
SELECT country_id, country_name FROM countries;

In [0]:
SELECT * FROM v_countries;

#### INNER JOIN

In [0]:
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
FROM v_movies_2011 AS VM
INNER JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
INNER JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### LEFT JOIN

In [0]:
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
FROM v_movies_2011 AS VM
LEFT JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
LEFT JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### RIGHT JOIN

In [0]:
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
FROM v_movies_2011 AS VM
RIGHT JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
RIGHT JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### FULL JOIN

In [0]:
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
FROM v_movies_2011 AS VM
FULL JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
FULL JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### SEMI JOIN

1. Esta consulta solo nos va devolver solo las columnas de la tabla izquierda, por lo tanto debemos quitar la columna VC.country_name porque sino da error. Esto es debido al uso del Semi Join

In [0]:
--SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date
FROM v_movies_2011 AS VM
INNER JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
SEMI JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### ANTI JOIN

1. Esta consulta solo nos va devolver solo las columnas de la tabla izquierda, por lo tanto debemos quitar la columna VC.country_name porque sino da error. Esto es debido al uso del ANTI JOIN. 
2. Es proporcional al SEMI JOIN
3. Nos devuelve los valores donde no se ha podido establecer el JOIN

In [0]:
--SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date,VC.country_name
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date
FROM v_movies_2011 AS VM
INNER JOIN v_productions_countries AS VPC ON VM.movie_id = VPC.movie_id
ANTI JOIN v_countries AS VC ON VC.country_id = VPC.country_id;

#### CROSS JOIN

1. Realiza un producto cartesiano de ambas tablas

In [0]:
SELECT VM.title,VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 AS VM CROSS JOIN v_countries AS VC;